/*@media screen and (max-width: 992px){*/
/*    .app-header {*/
/*        top: 0 !important;*/
/*        !*position: relative !important;*!*/
/*    }*/
/*}*/

.app-body {
    margin-top: 0 !important;
}

.ck-editor__editable,
textarea {
    min-height: 150px;
}

.datatable {
    width: 100% !important;
}

.dataTables_length,
.dataTables_filter,
.dt-buttons {
    margin-bottom: 0.333em;
    margin-top: .2rem;
}

.dataTables_filter {
    margin-right: .2rem;
}

.dt-buttons .btn {
    margin-left: 0.333em;
    border-radius: 0;
}

.table.datatable {
    box-sizing: border-box;
    border-collapse: collapse;
}

table.dataTable thead th {
    border-bottom: 2px solid #c8ced3;
}

.dataTables_wrapper.no-footer .dataTables_scrollBody {
    border-bottom: 1px solid #c8ced3;
}

.select2 {
    max-width: 100%;
    width: 100% !important;
}

.select2-selection__rendered {
    padding-bottom: 5px !important;
}

.has-error .invalid-feedback {
    display: block !important;
}

.btn-info,
.badge-info {
    color: white;
}

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc {
    background-image: none;
}

.sidebar .nav-item {
    cursor: pointer;
}

.btn-default {
    color: #23282c;
    background-color: #f0f3f5;
    border-color: #f0f3f5;
}

.btn-default.focus,
.btn-default:focus {
    box-shadow: 0 0 0 .2rem rgba(209, 213, 215, .5);
}

.btn-default:hover {
    color: #23282c;
    background-color: #d9e1e6;
    border-color: #d1dbe1;
}

.btn-group-xs > .btn,
.btn-xs {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.searchable-title {
    font-weight: bold;
}
.searchable-fields {
    padding-left:5px;
}
.searchable-link {
    padding:0 5px 0 5px;
}
.searchable-link:hover   {
    cursor: pointer;
    background: #eaeaea;
}
.select2-results__option {
    padding-left: 0px;
    padding-right: 0px;
}

.form-group .required::after {
    content: " *";
    color: red;
}

.form-check.is-invalid ~ .invalid-feedback {
    display: block;
}

/*.sidebar-toggler:hover {*/
/*    mix-blend-mode: exclusion;*/
/*}*/

.navbar-brand-full {
    color: rgba(0,0,0,0.6) !important;
    font-family: Arial Black;
}

.navbar-brand-full:hover {
    color: rgba(0,0,0,0.8) !important;
    font-family: Arial Black;
}
.navbar-brand-minimized {
    color: rgba(0,0,0,0.6) !important;
}
.navbar-brand-minimized:hover {
    color: rgba(0,0,0,0.8) !important;
}
.avatar-small {
    vertical-align: middle;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.avatar-medium {
    vertical-align: middle;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.avatar-large {
    vertical-align: middle;
    width: 160px;
    height: 160px;
    border-radius: 50%;
}
.nav-item {
    margin-top: 10px !important;
}
.icon-logo{
    margin-top: 10px;
    margin-left: 10px;
    width: 30px;
    height: 30px;
}

.sidebar {
    box-shadow:
        inset 0 -3em 3em rgba(0,0,0,0.1),
        0 0  0 2px rgb(255,255,255),
        0.3em 0.3em 1em rgba(0,0,0,0.3);
}
